:root {
  --primary-100: #e70403;
  --primary-200: #f8e5b3;
  --primary-300: rgb(73, 123, 119);

  /* complementary colours */
  --secondary-100: #03e6e7;
  --secondary-100: #b3c6f8;
  --secondary-100: #7b494d;

  --grey: #7f7f80;
  --light-grey: #7b8482;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, auto);
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Poppins, sans-serif;
  color: #fff;
  background: #000;
}

/* Responsive Styles */

.grid-container {
  display: grid;
  gap: 0px;
  border: 2px solid #fff;
}

.grid-item {
  /* border: 1px solid #fff; */
  /* font-size: 1.2em; */
  padding: 2rem;
  margin-left: 0px;
  margin-right: 0px;
}

#section-title {
  margin-top: 2rem;
  margin-bottom: 0;
  place-items: center;
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  z-index: 0;
  place-self: center;
  border: none;
}

/* Navbar */

#navbar-container {
  place-items: start space-around;
  grid-template-rows: 14vh;
  background: rgb(0, 0, 0);
}

#navbar-container .grid-item {
  border: none;
}

#navbar {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: hidden;
  z-index: 1;
}

#navbar a {
  display: block;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 0.9em;
  box-shadow: #000;
  /* width: -webkit-fill-available; */
  font-size: 1.2rem;
}

#navbar a:hover {
  background: rgb(73, 123, 119, 0.3);
  color: var(--primary-100);
}

/* main.content {

} */

.sticky {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 1.1rem;
  place-items: baseline;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: rgb(51, 51, 51, 0.9);
  border: 1px solid white;
}

#navbar-container .sticky {
  place-items: center;
}

#navbar-container .sticky a {
  width: max-content;
}

.sticky + .content {
  padding-top: 60px;
}

/* banner */

#banner {
  place-items: center;
  align-items: center;
  grid-template-rows: 70vh;
  grid-template-columns: 100vw;
  background: url("./images/light-yagami-background.png");
}

.banner-header {
  background: rgb(0, 0, 0, 0.4);
  border-radius: 10px;
  border: none;
}

.banner-header a {
  text-decoration: none;
  color: #fff;
}

.banner-header header {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

/* Intro */

#intro-section {
  border: none;
  grid-template-rows: repeat(auto, 2fr);
  grid-template-columns: 2fr 1fr;
  place-items: center;
  gap: 15px;
  padding: 0 2rem;
  background: #000;
}

#intro-section img {
  padding: 0px;
}

#intro-section p {
  font-size: 1.2em;
}

/* Justice */

#justice-section {}
