:root {
  --primary-100: #e70403;
  --primary-200: #f8e5b3;
  --primary-300: rgb(73, 123, 119);

  /* complementary colours */
  --secondary-100: #03e6e7;
  --secondary-200: #b3c6f8;
  --secondary-300: #7b494d;

  --grey: #7f7f80;
  --light-grey: #7b8482;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, auto);
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Poppins, sans-serif;
  color: #fff;
  background: #000;
}

main.content {
  padding: 0 2rem;
}

/* Responsive Styles */

.grid-container {
  display: grid;
  gap: 0px;
  border: 2px solid #fff;
  padding: 2rem 4.5rem;
}

.grid-item {
  padding: 2rem;
  margin-left: 0px;
  margin-right: 0px;
}

#section-title {
  margin-top: 2rem;
  margin-bottom: 0;
  place-items: center;
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  z-index: 0;
  border: none;
}

.card {
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "img ct";
  border: 2px solid var(--secondary-200);
  border-radius: 2rem;
  margin: 1.2em;
  gap: 0 20px;
  background-color: rgba(127, 127, 127, 0.3);
  place-items: center;
}

.card-alt {
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "ct img";
  border: 2px solid var(--secondary-200);
  border-radius: 2rem;
  margin: 1.2em;
  gap: 0 20px;
}

.card-vert img {
  place-self: start;
}

.card-image {
  grid-area: img;
}

.card-content {
  grid-area: ct;
}

.vert-cards {
  grid-template-columns: repeat(3, .5fr);
  grid-auto-rows: auto;
  border: 2px solid var(--secondary-200);
  border-radius: 2rem;
  padding: 0;
  gap: 0 20px;
}

.vert-card {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
}

.subheader {
  grid-area: sh;
  place-self: start;
  text-transform: capitalize;
  margin: 2em 0 0 0;
  font-size: 1.5rem;
  width: max-content;
  text-decoration: underline;
}

hr {
  margin: 0 10%;
}

/* Navbar */

#navbar-container {
  place-items: start space-around;
  grid-template-rows: 14vh;
  background: rgb(0, 0, 0);
  padding: 0;
}

#navbar-container .grid-item {
  border: none;
}

#navbar {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: hidden;
  z-index: 1;
}

#navbar a {
  display: block;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 0.9em;
  box-shadow: #000;
  font-size: 1.2rem;
}

#navbar a:hover {
  background: rgba(127, 127, 127, 0.3);
  color: var(--secondary-200);
}

.sticky {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 1.1rem;
  place-items: baseline;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: rgb(51, 51, 51, 0.9);
  border: 1px solid white;
}

#navbar-container .sticky {
  place-items: center;
}

#navbar-container .sticky a {
  width: max-content;
}

.sticky + .content {
  padding-top: 60px;
}

/* banner */

#banner {
  place-items: center;
  align-items: center;
  grid-template-rows: 70vh;
  grid-template-columns: 100vw;
  background: url("./images/storyboard.png");
  padding: 0;
}

.banner-header {
  background: rgb(0, 0, 0, 0.4);
  border-radius: 10px;
  border: none;
}

.banner-header a {
  text-decoration: none;
  color: #fff;
}

.banner-header header {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

/* Intro */

#intro-section {
  border: none;
  grid-template-rows: repeat(auto, 2fr);
  grid-template-columns: 2fr 1fr;
  place-items: center;
  gap: 15px;
  background: #000;
  padding: 0 2rem;
}

#intro-section img {
  padding: 0px;
}

#intro-section p {
  font-size: 1.2em;
}

#intro-section .bio figcaption {
  font-size: 1em;
}

/* Justice */

#justice-section {
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas:
    ". . hd hd hd hd hd . ."
    "sh sh sh . . . . . . "
    "ct ct ct ct ct ct ct ct ct";
  place-items: center;
  border: none;
}

.justice-header {
  grid-area: hd;
  place-self: center;
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  z-index: 0;
  border: none;
}

.justice-content {
  grid-area: ct;
  font-size: 1.2rem;
}

#rules {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "sh . ."
    "ct ct img";
  place-items: center;
  border: none;
  padding: 0;
}

.rules-content {
  grid-area: ct;
}

.rules-image {
  grid-area: img;
  height: auto;
  width: 50%;
  object-fit: fill;
}

.events article .card-image {
  width: 100%;
}

.events article .card-content {
  height: max-content;
  place-self: center;
}

.events article:first-child .card-content {
  place-self: start;
}

/* consequences */

#consequences-section {
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas:
    ". . hd hd hd hd hd . ."
    "sh sh sh . . . . . . "
    "ct ct ct ct ct ct ct ct ct";
  place-content: center;
  border: none;
}

.consequences-header {
  grid-area: hd;
  place-self: center;
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  z-index: 0;
  border: none;
}

.consequences-content {
  grid-area: ct;
  font-size: 1.2rem;
}

#consequences-section .vert-cards .vert-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/4;
}

#consequences-section .vert-cards .vert-card .subheader {
  margin-top: 1rem;
}

#consequences-section .card .card-image {
  width: 30vmax;
  height: auto;
  place-self: center;
}
